.item {
  display: flex;
  width: 100%;
  height: 45px;
  font-family: var(--font-mono);
  border-bottom: 0.5px solid var(--neutral-colors-500);
  align-items: center;
  gap: 8px;
  background-color: var(--secondary-glow);

  &:hover {
    background-color: var(--neutral-colors-500);
  }

  p {
    font-weight: 300;
    font-size: 14px;
    line-height: 157%;
    color: var(--foreground-rgb);
  }
}

.slider,
.check {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
}

.checkbox {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  cursor: pointer;

  &::before {
    content: url("/icons/checkbox_default_icon.svg");
    display: block;
  }

  &:hover::before {
    content: url("/icons/checkbox_hover_icon.svg");
  }

  &:checked::before {
    content: url("/icons/checkbox_checked_icon.svg");
  }

  &:checked:hover::before {
    content: url("/icons/checkbox_uncheck_icon.svg");
  }
}

.control,
.title,
.address,
.vehicle,
.driver,
.date,
.status,
.owner {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.control {
  justify-content: space-around;
  gap: 10px;
  width: calc(7% - 20px);
  max-width: 80px;
}

.title {
  justify-content: flex-start;
  width: 15%;
}

.title p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
  color: var(--indigo-500);
}

.date img {
  margin: 5px;
}

.date p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--gray-900);
}

.flight div,
.arrow {
  border-radius: 6px;
  padding: 2px 7px;
  width: 24px;
  height: 24px;
  background: var(--gray-50);
}

.flight {
  display: flex;
  justify-content: center;
}

.flight span{
  width: 24px;

}

.flight p,
.arrow p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: var(--gray-700);
}

.address,
.vehicle {
  justify-content: flex-start;
  // width: 15%;
  flex-shrink: 1;
}

.address p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--gray-900);
}

.driver,
.date,
.status {
  justify-content: center;
  // width: 10%;
  flex-shrink: 1;
}

.driver {
  background: var(--gray-50);
  border-radius: 4px;
  padding: 1px 8px;
  // width: 207px;
  flex-shrink: 1;
  height: 20px;
}

.vehicle {
  background: var(--gray-50);
  border-radius: 4px;
  padding: 1px 8px;
  height: 20px;
  flex-shrink: 1;
}

.address,
.name,  .vehicle {
  justify-content: flex-start;
}

.driver{
  justify-content: flex-end;
}


.driver p,
.vehicle p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--gray-700);
}

.owner {
  justify-content: center;
  width: 15%;
}

.owner p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: var(--gray-900);
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 10px;
  width: 76px;
  height: 48px;
  flex-shrink: 1;
}

.opened {
  border-radius: 4px;
  padding: 1px 8px;
  width: 76px;
  height: 20px;
  background: #e1fcef;
}

.opened p,
.opened span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #14804a;
}

.dot {
  width: 6px;
  height: 6px;
  margin: 5px;
}

.green {
  color: #14804a;
  background-image: url("../../public/icons/rectangle_icon.svg");
}

.blue {
  color: #2264e5;
  background-image: url("../../public/icons/rectangle_blue_icon.svg");
}

.status span {
  border-radius: 4px;
  width: 2px;
  height: 2px;
}

.closed {
  border-radius: 4px;
  padding: 1px 8px;
  width: 76px;
  height: 20px;
  background: #ebf0fa;
}

.closed p,
.closed span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #2264e5;
}

.icon_button,
.icon {
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  stroke-width: 0.78px;
  stroke: var(--neutral-colors-text-gray);
  width: 18px;
  height: 18px;
}

.not_found {
  color: rgb(194, 121, 121);
  cursor: default;

  p:hover {
    color: rgb(194, 121, 121);
    text-decoration: none;
  }
}

.heading_title {
  display: flex;
  align-items: center;
  position: relative;

  .resizer {
    width: 2px;
    height: 100%;
    background: #ddd;
    cursor: col-resize;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .item {
    border-color: var(--heading-row);
  }

  .icon_button {
    background: var(--custom-colors-neutral-gray-100);
    border-radius: 4px;
    padding: 2px;
  }
}

