.opened {
  display: flex;
}

.closed {
  display: none;
}

.modal {
  position: fixed;
  // display: none;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  position: relative;
  margin-top: 200px;
  left: calc(100vw - (var(--modal-desktop-width / 2)));
  width: var(--modal-desktop-width);
  background-color: (var(--background-color));
  height: max-content;
  min-height: 500px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(68, 67, 128, 0.35) 0px 5px 35px;
}

.close_button {
  position: absolute;
  right: 15px;
  top: 15px;
  border: none;
  background-color: transparent;
}

.close_icon {
  cursor: pointer;
}
