.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - var(--header-height));
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("../public/icons/background_layout.svg");
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 970px;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 17px;
  width: 231px;
  height: 78px;

  background: #5252521c;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: var(--indigo-900);
}

.data {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 10px;

  border-radius: 17px;
  width: 277px;
  height: 78px;
  background: #5252521c;
}

.day {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: #a72c2c;
}

.data div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mount {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #000;
}

.week {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: var(--gray-600);
}

.navigation {
  display: grid;
  grid-template-columns: repeat(2, 450px);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.navigation a:nth-of-type(1) {
  grid-area: 1 / 1 / 2 / 2;
}
.navigation a:nth-of-type(2) {
  grid-area: 1 / 2 / 2 / 3;
}
.navigation a:nth-of-type(3) {
  grid-area: 2 / 1 / 3 / 2;
}
.navigation a:nth-of-type(4) {
  grid-area: 2 / 2 / 3 / 3;
}
.navigation a:nth-of-type(5) {
  grid-area: 3 / 1 / 4 / 3;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 17px;
  min-height: 219px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #5252521c;
  gap: 5px;
  padding: 10px;
}

.item h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 39px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: var(--indigo-900);
}

.item p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 154%;
  letter-spacing: 0.02em;
  color: var(--gray-800);
}
