.menu {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 72px;
  height: 100vh;
  background: var(--gray-50);
  -webkit-overflow-y: hidden;
  -moz-overflow-y: hidden;
  -o-overflow-y: hidden;
  overflow-y: hidden;
  -webkit-animation: fadeIn 1 1s ease-out;
  -moz-animation: fadeIn 1 1s ease-out;
  -o-animation: fadeIn 1 1s ease-out;
  animation: fadeIn 1 1s ease-out;
}

.column {
  height: 100%;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list {
  list-style-type: none;
  padding: 0;
}

.item {
  display: flex;
  cursor: pointer;
  width: 40px;
  height: 40px;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  color: white;
  opacity: 0.8;
  padding: 0;
  margin: 15px auto;
  color: var(--gray-600);

  &:hover {
    opacity: 1;
    color: var(--gray-800);
  }

  &.active {
    opacity: 1;
    color: var(--gray-800);
    border: 1px solid var(--gray-600);
    border-radius: 6px;
  }
}

.user {
  display: flex;
  cursor: pointer;
  padding: 8px;
  height: 40px;
  background-color: black;
  color: white;
  align-items: center;
  text-align: center;
}

.tooltip {
  position: absolute;
  width: 40px;
  height: 40px;

  &::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    margin-left: 15px;
    width: 170px;
    padding: 10px;
    border-radius: 10px;
    background: #000;
    color: #fff;
    text-align: center;
    display: none;
  }

  &:hover:before {
    display:block;
  }
}
