.content {
  padding: 20px;
  margin: 0 auto;
}

.header {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}

.body {
  padding-bottom: 20px;

  p {
    margin-bottom: 10px;
  }

  strong {
    font-weight: bold;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.btn {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}


.modal_footer {
  position: absolute;
  bottom: 15px;
  right: 15px;
  gap: 10px;
  display: flex;
  justify-content: flex-end;

  p {
    color: rgb(155, 155, 155);
    font-size: small;
  }
}
